@font-face {
    font-family: 'iconfont'; /* Project id 4451865 */
    src:
        url('iconfont.woff2?t=1750769505679') format('woff2'),
        url('iconfont.woff?t=1750769505679') format('woff'),
        url('iconfont.ttf?t=1750769505679') format('truetype');
}

.iconfont {
    font-family: 'iconfont' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-wenjianshangchuan:before {
    content: '\e609';
}

.icon-shang:before {
    content: '\e623';
}

.icon-shipinwenjian:before {
    content: '\e62e';
}

.icon-tupian:before {
    content: '\e602';
}

.icon-add1:before {
    content: '\e625';
}

.icon-you:before {
    content: '\e621';
}

.icon-add:before {
    content: '\e60e';
}

.icon-expand:before {
    content: '\e67d';
}

.icon-fold:before {
    content: '\e67f';
}

.icon-zuo:before {
    content: '\e622';
}

.icon-ai07:before {
    content: '\e67b';
}

.icon-bofang:before {
    content: '\e628';
}

.icon-top:before {
    content: '\e681';
}

.icon-bottom:before {
    content: '\e637';
}

.icon-Ai:before {
    content: '\e605';
}

.icon-quanping:before {
    content: '\e6e0';
}

.icon-compress:before {
    content: '\e608';
}

.icon-SEND:before {
    content: '\e9ff';
}

.icon-shipinshangchuan:before {
    content: '\e6ef';
}

.icon-xinjianyemiantianjia:before {
    content: '\e7ab';
}

.icon-more:before {
    content: '\e67c';
}

.icon-zhediedaohang_o:before {
    content: '\eb6d';
}

.icon-g_my_on:before {
    content: '\e615';
}

.icon-caidan_o:before {
    content: '\eb71';
}

.icon-right-arrow:before {
    content: '\e841';
}

.icon-left-arrow:before {
    content: '\e83d';
}

.icon-book-open:before {
    content: '\ef48';
}

.icon-home:before {
    content: '\e6f9';
}

.icon-xia:before {
    content: '\e626';
}

.icon-icon-:before {
    content: '\e629';
}

.icon-bianji:before {
    content: '\e840';
}

.icon-delete:before {
    content: '\e63c';
}

.icon-tianjia:before {
    content: '\e614';
}

.icon-lishijilu:before {
    content: '\e683';
}

.icon-duigoux:before {
    content: '\ec9e';
}

.icon-fasong:before {
    content: '\e643';
}

.icon-close:before {
    content: '\e610';
}

.icon-shangchuan:before {
    content: '\e60d';
}

.icon-dongzuo:before {
    content: '\e6b3';
}

.icon-weixin:before {
    content: '\e607';
}

.icon-heiye:before {
    content: '\e60c';
}

.icon-nav_liangsemoshi:before {
    content: '\e988';
}

.icon-diyiming:before {
    content: '\e624';
}

.icon-disanming:before {
    content: '\e65b';
}

.icon-dierming:before {
    content: '\e61c';
}

.icon-no3:before {
    content: '\e611';
}

.icon-diyiming1:before {
    content: '\e700';
}

.icon-zanting:before {
    content: '\e619';
}

.icon-zan:before {
    content: '\e870';
}

.icon-zan1:before {
    content: '\e871';
}

.icon-pinglun:before {
    content: '\e891';
}

.icon-shoucang:before {
    content: '\e666';
}

.icon-shoucangfill:before {
    content: '\e6c9';
}
