@import "tailwindcss";

html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  /* 白色/浅灰背景为主 */
  @apply bg-slate-50 text-slate-800;
}

/* 隐藏滚动条但保留滚动功能 */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
