// 数值越大，颜色越深
// ————————————————————————————————————————————— 暗色模式下的颜色变量 —————————————————————————————————————————————
$gray-1: #fbfbfb;
$gray-2: #fafafa;
$gray-3: #f9f9f9;
$gray-4: #ededed;
$gray-5: #dbdfe8;
$gray-6: #c9cdd5;
$gray-7: #b5b9bf;
$gray-8: #9ea2a6;
$gray-9: #93969a;
$gray-10: #84868a;
$gray-11: #717377;
$gray-12: #5b5d60;
$gray-13: #4c4d50;
$gray-14: #3d3e40;
$gray-15: #363739;
$gray-16: #1f2020;
// ————————————————————————————————————————————————————————————————————————————————————————————————————————————

// ————————————————————————————————————————————— 亮色模式下的颜色变量 —————————————————————————————————————————————
$blue-1: rgb(228, 244, 255);
$blue-2: rgb(198, 226, 255);
$blue-3: rgb(179, 216, 255);
$blue-4: rgb(160, 207, 255);
$blue-5: rgb(140, 197, 255);
$blue-6: rgb(121, 187, 255);
$blue-7: rgb(102, 177, 255);
$blue-8: rgb(83, 168, 255);
$blue-9: rgb(64, 158, 255);
$blue-10: rgb(48, 150, 255);
// ————————————————————————————————————————————————————————————————————————————————————————————————————————————

$azure-1: #a7d3e0;
$azure-2: #6cb4d4;
$azure-3: #4a9bc0;
$azure-4: #2a8ec1;
$azure-5: #1b7c9d;
$azure-6: #0e5a7d;
$azure-7: #0c4e6f;
