<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saaes.system.admin.user.mapper.AdminSysUserJobMapper">

    <!-- 物理删除过期的逻辑删除记录 -->
    <delete id="deleteHardExpired">
        DELETE FROM sys_user_job WHERE deleted = true AND update_time &lt; #{threshold}
    </delete>

</mapper>
