<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.saaes.system.mapper.AIContentInfoMapper">

    <resultMap id="AIAnalysisInfoResultMap" type="com.saaes.system.client.entity.AIAnalysisInfo">
        <id property="id" column="analysis_id"/>
        <result property="overallScore" column="overall_score"/>
        <result property="stabilityScore" column="stability_score"/>
        <result property="fluencyScore" column="fluency_score"/>
        <result property="proficiencyScore" column="proficiency_score"/>
        <result property="stabilityImprovement" column="stability_improvement"/>
        <result property="proficiencyEnhancement" column="proficiency_enhancement"/>
        <result property="fluencyPromotion" column="fluency_promotion"/>
        <result property="generalAdvice" column="general_advice"/>
        <result property="selfLeftXData" column="self_left_x_data" javaType="java.util.List"/>
        <result property="selfLeftYData" column="self_left_y_data" javaType="java.util.List"/>
        <result property="selfRightXData" column="self_right_x_data" javaType="java.util.List"/>
        <result property="selfRightYData" column="self_right_y_data" javaType="java.util.List"/>
        <result property="motionName" column="motion_name"/>
        <result property="taskId" column="task_id"/>
        <result property="taskStatus" column="task_status"/>
    </resultMap>

    <resultMap id="AIContentInfoResultMap" type="com.saaes.system.client.entity.AIContentInfo">
        <id property="id" column="id"/>
        <result property="type" column="type"/>
        <result property="cardId" column="card_id"/>
        <result property="text" column="text"/>
        <result property="sender" column="sender"/>
        <result property="sendTime" column="send_time"/>
        <result property="historyId" column="history_id" />

        <!-- AICardInfo -->
        <association property="card" javaType="com.saaes.system.client.entity.AICardInfo" fetchType="lazy">
            <id property="id" column="card_id"/>
            <result property="title" column="title"/>
            <result property="videoUrl" column="video_url" typeHandler="com.saaes.system.client.handler.VideoUrlTypeHandler"/>
            <result property="analysisId" column="analysis_id"/>

            <!-- AIAnalysisInfo -->
            <association property="analysisInfo" javaType="com.saaes.system.client.entity.AIAnalysisInfo" resultMap="AIAnalysisInfoResultMap">
                <id property="id" column="analysis_id"/>
            </association>
        </association>
    </resultMap>

    <select id="getContentWithCardInfoByHistoryId" resultMap="AIContentInfoResultMap">
        SELECT
            ai.id,
            ai.type,
            ai.card_id,
            ai.text,
            ai.sender,
            ai.history_id,
            ai.send_time AS send_time,

            -- card_info fields
            aci.id AS card_id,
            aci.title AS title,
            aci.video_url AS video_url,
            aci.analysis_id AS analysis_id,

            -- AIAnalysisInfo fields
            aai.overall_score AS overall_score,
            aai.stability_score AS stability_score,
            aai.fluency_score AS fluency_score,
            aai.proficiency_score AS proficiency_score,
            aai.stability_improvement AS stability_improvement,
            aai.proficiency_enhancement AS proficiency_enhancement,
            aai.fluency_promotion AS fluency_promotion,
            aai.general_advice AS general_advice,
            aai.self_left_x_data AS self_left_x_data,
            aai.self_left_y_data AS self_left_y_data,
            aai.self_right_x_data AS self_right_x_data,
            aai.self_right_y_data AS self_right_y_data,
            aai.motion_name AS motion_name,
            aai.task_id AS task_id,
            aai.task_status AS task_status

        FROM
            ai_content_info ai
                LEFT JOIN ai_card_info aci ON ai.card_id = aci.id AND ai.type = 'card'
                LEFT JOIN ai_analysis_result aai ON aci.analysis_id = aai.id
        WHERE ai.history_id = #{historyId}
    </select>

    <select id="listAnalysisByHistoryId" resultMap="AIAnalysisInfoResultMap">
        SELECT
            aai.id AS analysis_id,
            aai.overall_score,
            aai.stability_score,
            aai.fluency_score,
            aai.proficiency_score,
            aai.stability_improvement,
            aai.proficiency_enhancement,
            aai.fluency_promotion,
            aai.general_advice,
            aai.self_left_x_data,
            aai.self_left_y_data,
            aai.self_right_x_data,
            aai.self_right_y_data,
            aai.motion_name,
            aai.task_id,
            aai.task_status
        FROM
            ai_content_info ai
                LEFT JOIN ai_card_info aci ON ai.card_id = aci.id
                LEFT JOIN ai_analysis_result aai ON aci.analysis_id = aai.id
        WHERE
            ai.history_id = #{historyId}
          AND ai.type = 'card'
    </select>


</mapper>
