$font-size: 15px;
$padding: 10px 10px;
$border-radius: 4px;

$background-color: #ededed;
$focus-background-color: #fff;
$box-shadow: 0 0 5px #5893ef;
$active-box-shadow: 0 0 5px #b2fa9e;
$height: 40px;
$gap: 3px;
